KERNEL_ARCH_CFLAGS  = -m64 -mcmodel=kernel -mno-red-zone -mno-mmx -mno-sse -mno-sse2 -fno-asynchronous-unwind-tables
KERNEL_ARCH_LDFLAGS = -z max-page-size=0x1000

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/interrupts.o \
$(ARCHDIR)/io.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/asm.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/boot.o \
$(ARCHDIR)/mmu.o \
$(ARCHDIR)/trampoline.o \
$(ARCHDIR)/cpu.o \
$(ARCHDIR)/page_fault.o \
$(ARCHDIR)/general_protection_fault.o
